/* MyPosts */

.postsBlock {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    /*border-radius: 10px;*/
    /*box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);*/
}

.addPostForm {
    margin-bottom: 20px;
    width: 100%;
}
.form {

}

.posts {
    display: flex;
    flex-direction: column;
}
/* Post */

.postItem {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.postItem img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.likeCount {
    margin-left: auto;
    font-weight: bold;
    color: #333333;
}

.inputWrapper {
    display: flex;
}
.postField {
    /*width: calc(100% - 50px); !* Ширина поля - 50px для учета ширины кнопки *!*/
    width: 100%;

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;

    color: #333333; /* Цвет текста */
    background-color: #f9f9f9; /* Цвет фона */
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1); /* Тень внутри поля */
}

.postField::placeholder {
    color: #999999;
}
.addPostButton {

    display: flex;


    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

    font-size: 14px;
    margin: 0 auto;
}
.addPostButton:hover {
    border: 1px solid #000;
}
