.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogs-items{
    padding: 10px;
}
.dialogs-items {

}
.dialog{}

.messages{
    padding: 10px;
}
.message{}
.sendMessageWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    gap: 10px;
}